body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#program{
    /* background-color: wheat; */
    text-align: center;

}
#header{
    font-size: 3rem;
    color: white;
}
#input{
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.27);

}
#label{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px;
    color: aliceblue;
}
#btn{
    padding: 0.5rem 1rem;
    background-color: rgb(255, 34, 45);
    border: none;
    border-radius: 0.5rem;
    margin: 10px;
    color: white;
    font-weight: bold;

}
#numresult{
    color: white;
}
#btn:hover{
    background-color: rgb(145, 51, 56);
    cursor: pointer;
}

#btn:active{
    background-color: rgb(255, 211, 213);
    color: black;
    border: 1px solid;
}

#photo{
    max-width: 150;
    max-height: 150px;
    width: auto;
    height: auto;
}

